body {
font-family: Arial;
background: #f5f5f5;
margin: 0;
padding: 20px;
}


input, textarea, select, button {
margin-top: 8px;
padding: 8px;
width: 100%;
}


button {
cursor: pointer;
margin-top: 10px;
}